.parallax {
    background-image: url('/assets/imgs/webinars.webp');
    alt: 'Photo by Stem List on Unsplash';
    height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.transbox {
    width: 100%;
    background-color: #ffffff;
    opacity: 0.6;
}